<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.avantajc.updating"
        versionCode = "10"
        version     = "1.1.0">
 
    <name>Ava 001</name>
 
    <description>
        A simple updating app to keep track of the courses.
    </description>
 
    <author href="http://avantajconsulting.ro" email="office@avantajconsulting.ro">
        Avantaj Consulting App
    </author>
 
    
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
 

    <plugin name="com.indigoway.cordova.whitelist.whitelistplugin" spec="1.1.1" source="pgb" />

    <allow-navigation href="http://scripting.work/api/*" />
    <allow-navigation href="http://code.jquery.com/*" />
    <allow-navigation href="https://cdnjs.cloudflare.com/*" />
    <access origin="*" />
</widget>