<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.avantajc.updating"
        versionCode = "10"
        version     = "1.1.0">
 
    <name>Ava 001</name>
 
    <description>
        A simple updating app to keep track of the courses.
    </description>
 
    <author href="http://avantajconsulting.ro" email="office@avantajconsulting.ro">
        Avantaj Consulting App
    </author>
 
    
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
 
    <access origin="http://scripting.work" subdomains="true" />
</widget>